<nav class="col-12 p-0 m-0">
  <ul
    class="nav justify-content-center align-items-center"
    style="height: 10vh"
  >
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/"
        >Bio</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/thought"
        >Thought</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/contact"
        >Contact</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/portfolio"
        >Portfolio</a
      >
    </li>
  </ul>
</nav>
