nav {
  position: fixed;
  z-index: 10000;
  ul {
    background-color: rgba(102, 102, 153, 0.89);
    li {
      font-size: 18px;
      font-weight: bold;
      a {
        color: #fff;
      }
    }
  }
  .active {
    font-weight: bolder;
    border-bottom: 2px solid #fff;
  }
}
