<footer>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <a href="https://www.facebook.com/favour.emma"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.twitter.com/fey_vik"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="https://www.github.com/fayvik"><i class="fab fa-github"></i></a>
    </div>
    <div class="col-12 text-center">
      @2020 designed and built by Favour Vivian Woka
    </div>
  </div>
</footer>
